<div class="text-center" style="padding:0 0 20px 0">
<button (click)="chart('mood')" class="btn btn-lg btn-primary">Mood</button>
<button (click)="chart('exerciseDiet')" class="btn btn-lg btn-primary">Exercise/Diet</button>
<button (click)="chart('sleep')" class="btn btn-lg btn-primary">Sleep</button>
</div>

<div class="container" width="1000" height="500" [hidden]="!chart1">
  <canvas id="moodGraph"></canvas>
</div>

<div class="container" width="1000" height="500" [hidden]="!chart2">
  <canvas id="sleepGraph"></canvas>
</div>

<div class="container" width="1000" height="500" [hidden]="!chart3">
  <canvas id="exerciseDiet"></canvas>
</div>

<br>