<div>
    <form class="form-signin" (submit)="onRegisterSubmit()">
      <h2  align="center" class="form-signin-heading">Please Register</h2>
      
      <input type="name" class="form-control" placeholder="Name" required autofocus [(ngModel)]="name" name="name">
      <input type="username" class="form-control" placeholder="Username" required [(ngModel)]="username" name="username">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required [(ngModel)]="email" name="email">
      <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="password" name="password">
      <input type="name" class="form-control" min="0" placeholder="Height in CM" required name="height" [(ngModel)]="height">
      <input type="name" class="form-control" min="0" placeholder="Weight in KG" required name="weight" [(ngModel)]="weight">
      <select name="gender" class="form-control" [(ngModel)]="gender">
          <option [value]="null" disabled selected hidden>Gender</option>
        <option *ngFor="let gender of genders" [value]="gender.value">{{gender.display}}</option>
      </select>
      <br>
      <br>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
