<section class="jumbotron text-center" >
  <div class="container">
    <h1 class="jumbotron-heading">eMoodi</h1>
    <p class="lead text-muted">Welcome to eMoodi MEAN application used to track and improve your mood.</p>
    <p>
        <a class="btn btn-secondary"  *ngIf="!authService.loggedIn()" [routerLink]="['/login']">Login</a>
      <a class="btn btn-primary"  *ngIf="!authService.loggedIn()" [routerLink]="['/register']">Register</a> 

    </p>
  </div>
</section>


<!-- <button (click)="getForecast()">Get Forecast</button> -->


<div class="row">
  <div class="col-md-4">
    <h3>Mood Tracking</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4">
    <h3>Diet Suggestions</h3>
    <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
  </div>
  <div class="col-md-4">
    <h3>Exercise Suggestions</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div>