
<div id="background-wrap" class="back">
    <div class="bubble x1">
        <img src="assets/emojis/4.png" />
  </div>
    <div class="bubble x2">
        <img src="assets/emojis/5.png" />
  </div>
    <div class="bubble x3">
        <img src="assets/emojis/55.png" />
  </div>
    <div class="bubble x4">
        <img src="assets/emojis/4.png" />
  </div>
    <div class="bubble x5">
        <img src="assets/emojis/55.png" />
  </div>
    <div class="bubble x6">
        <img src="assets/emojis/5.png" />
  </div>
    <div class="bubble x7">
        <img src="assets/emojis/4.png" />
  </div>
    <div class="bubble x8">
        <img src="assets/emojis/55.png" />
  </div>
    <div class="bubble x9">
        <img src="assets/emojis/5.png" />
  </div>
    <div class="bubble x10">
        <img src="assets/emojis/4.png" />
  </div>
</div>

<section class="jumbotron text-center" >
  <div class="container">
    <h1 class="jumbotron-heading">      
        <img style="width:75%" src="/assets/Logo.png" />
    </h1>
    <p class="lead text-muted">Welcome to eMoodi MEAN application used to track and improve your mood.</p>
    <p>
        <a class="btn btn-secondary"  *ngIf="!authService.loggedIn()" [routerLink]="['/login']">Login</a>
      <a class="btn btn-primary"  *ngIf="!authService.loggedIn()" [routerLink]="['/register']">Register</a> 

    </p>
  </div>
</section>

<div class="row" style="padding:30px">
  <div class="col-md-4">
  <div class="card text-center">
      <img class="card-img-top mx-auto d-block" src="assets/graphs.png" style="width:150px;height:150px" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Mood Tracking</h4>
        <p class="card-text">A range of graphs are provided to help you analyse and track your daily progress in areas such as mood, sleep, diet and exercise</p>
        <a *ngIf="authService.loggedIn()" [routerLink]="['/dashboard']" class="btn btn-primary">Go to charts</a>
      </div>
  </div>
  </div>
  <div class="col-md-4">
      <div class="card text-center">
          <img class="card-img-top mx-auto d-block" src="assets/diet.png" style="width:150px;height:150px" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Diet Suggestions</h4>
            <p class="card-text">Personalised diet suggestions are provided based on your user profile which includes a variety of cuisines and the information to make them</p>
            <a *ngIf="authService.loggedIn()" [routerLink]="['/suggestion']" class="btn btn-primary">Go to suggestions</a>
          </div>
      </div>
      </div>

      <div class="col-md-4">
          <div class="card text-center">
              <img class="card-img-top mx-auto d-block" src="assets/exercise.png" style="width:150px;height:150px" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Exercise Suggestions</h4>
                <p class="card-text">Personalised exercise suggestions are provided based on your user profile which includes a full body workout recommendation </p>
                <a *ngIf="authService.loggedIn()" [routerLink]="['/suggestion']" class="btn btn-primary">Go to suggestions</a>
              </div>
          </div>
          </div>

</div>
