<div *ngIf="recipes[0]">
  <div class="text-center" style="padding:0 0 15px 0">
    <button (click)="suggestion('diet')" class="btn btn-lg btn-primary">Diet</button>
    <button (click)="suggestion('exercise')" class="btn btn-lg btn-primary">Exercise</button>
  </div>

  <!-- recipe suggestions -->
  <section class="jumbotron text-center" id="plans" [hidden]="!diet" *ngIf="recipes">
    <h1 class="jumbotron-heading">Diet Suggestions</h1>
    <div class="row">
      <!-- recipe item -->
      <div class="col-md-4 text-center" *ngFor="let recipe of recipes | slice:0: limit">
        <div class="panel panel-recipe rounded">
          <div class="panel-heading">
            <img id="img-container" class="rounded" src={{recipe.image}}>
          </div>
          <div class="panel-body text-center">
            <h4>
              <a href="{{recipe.url}}" target="_blank">
                {{recipe.label}}
              </a>
            </h4>
            <h4>Calories - {{recipe.calories| number:'1.0-0'}}</h4>
          </div>
          <ul class="list-group text-center" id="recipe-scroller-container">
            <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
              {{ingredient.text}}</li>
          </ul>
        </div>
      </div>
      <!-- recipe item end -->
    </div>
    <button (click)="limit = limit + 3" class="btn btn-lg btn-primary btn btn-sx">Show more</button>
  </section>

  <!-- exercise suggestions -->
  <section class="jumbotron text-center" id="plans" [hidden]="!exercise">
    <h1 class="jumbotron-heading">Exercise Suggestions</h1>
    <div class="panel-group" id="accordion">
      <!-- for each exercise category -->
      <div class="notice notice-lg notice-info" *ngFor="let type of allExercises">
        <div class="panel-heading">
          <!-- each panel given unique anchor tag to enable collapsible accordion behaviour -->
          <strong class="panel-title" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#'+type.name">
            <h1> {{type.name}}</h1>
          </strong>
        </div>
        <div [attr.id]="type.name" class="panel-collapse collapse">
          <!-- unique id matching anchor to enable accordion behaviour -->
          <!-- for each exercise in the given exercise category -->
          <div class="notice notice-info" *ngFor="let exercise of type.exercises" (click)="modalSettings(exercise.name,exercise.description)"
            data-toggle="modal" data-target="#exerciseModal">{{exercise.name}} &nbsp; {{exercise.units}}</div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
<div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header-primary">
        <h1>{{modalDetails.title}}</h1>
      </div>
      <div class="modal-body text-left" [innerHTML]="modalDetails.description">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default float-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
